$light: #d4e6b5;
$main: #3e8914;
$dark: #ff00003f;

$card-bg: #fdfffc;
$jet: #2f2f2f;
$good: #317b22;
$bad: #e53d00;
$card-shadow: rgba(0, 0, 255, 0.2);

.details-card {
	padding: 20px;
	background-color: $card-bg;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 12px 10px 2px 1px $card-shadow;
}

.overview-card {
	.icons {
		.icon {
			font-size: 25px;
			margin-right: 20px;
		}
		.due {
			color: $bad;
		}
		.delivery {
			color: $jet;
		}
		.paid {
			color: $good;
		}
	}
	button {
		display: inline-block;
		color: white;
		background-color: $bad;
		border-radius: 10px;
		border: none;
		font-size: 18px;
		padding: 2px 20px;
		margin-right: 10px;
	}
}

.main-card {
	h1 {
		font-size: 30px;
	}
	.due-date {
		margin-top: 10px;
		font-size: 25px;
	}
	.countdown {
		font-size: 20px;
	}
}

.delivery-card {
	font-size: 25px;
	pre {
		font-size: 18px;
	}
}

.payment-card {
	font-size: 20px;
}

.note-card {
	font-size: 25px;
	pre {
		font-size: 18px;
	}
}
